[Unit]
Description=SSH-based forwarding

[Service]
ExecStart=/var/guix/profiles/per-user/root/guix-profile/bin/conductor-server '^(?P<key>[a-z0-9]+)-(?P<user>[a-z0-9]+)\\.example\\.com$' /var/forest
StandardOutput=syslog
StandardError=syslog
User=conductor
Group=conductor

[Install]
WantedBy=multi-user.target
